<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a asp-controller="home" asp-action="index">
                        <h1 class="text-primary mb-0">Qfresh<i class="fas fa-leaf"></i></h1>
                        <p class="text-secondary mb-0">Thực phẩm tươi sống</p>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.facebook.com/ngquy02"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://www.instagram.com/ngquy02"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href="https://twitter.com/ngquy02"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href="https://www.youtube.com/@@ngquy02"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Tại sao mọi người thích cửa hàng của chúng tôi!</h4>
                    <p class="mb-4">Nơi bạn có thể tận hưởng những thực phẩm tươi sống chất lượng cao, có nguồn gốc rõ ràng hàng ngày mà không cần phải ra khỏi nhà!</p>
                    <a asp-controller="about" asp-action="index" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Các liên kết nhanh</h4>
                    <a asp-controller="products" asp-action="index" class="btn-link">Sản phẩm</a>
                    <a asp-controller="cart" asp-action="index" class="btn-link">Giỏ hàng</a>
                    <a asp-controller="blogs" asp-action="index" class="btn-link">Tin tức</a>
                    <a asp-controller="contact" asp-action="index" class="btn-link">Liên hệ</a>
                    <a asp-controller="about" asp-action="index" class="btn-link">Về chúng tôi</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Các liên kết khác</h4>
                    <a class="btn-link" href="#">Tài khoản người dùng</a>
                    <a class="btn-link" href="#">Chính sách quyền riêng tư</a>
                    <a class="btn-link" href="#">Điều khoản & điều kiện</a>
                    <a class="btn-link" href="#">Chính sách hoàn trả</a>
                    <a class="btn-link" href="#">FAQs & trợ giúp</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Liên hệ</h4>
                    <p>Địa chỉ: <a class="btn-link" href="https://maps.app.goo.gl/t2AYitvsixUXeUBg9">3 Cầu Giấy, Q.Đống Đa, Hà Nội</a></p>
                    <p>Email: <a class="btn-link" href="mailto:quy201200304@lms.utc.edu.vn">quy201200304@lms.utc.edu.vn</a></p>
                    <p>Điện thoại: <a class="btn-link" href="tel:0362523516">0362523516</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
