<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Cửa hàng thực phẩm tươi sống trực tuyến</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet" href="~/lib/lightbox/css/lightbox.min.css">
    <link rel="stylesheet" href="~/lib/owlcarousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui.min.css">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
</head>
<body>
    <!-- Spinner Start -->
    <partial name="_SpinnerPartial" />
    <!-- Spinner End -->

    <!-- Navbar start -->
    <partial name="_NavbarPartial" />
    <!-- Navbar End -->

    <!-- Modal Search Start -->
    <partial name="_ModalSearchPartial" />
    <!-- Modal Search End -->

    <!-- Content Start -->
    @RenderBody()
    <!-- Content End -->

    <!-- Footer Start -->
    <partial name="_FooterPartial" />
    <!-- Footer End -->

    <!-- Copyright Start -->
    <partial name="_CopyrightPartial" />
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/lightbox/js/lightbox.min.js"></script>
    <script src="~/lib/owlcarousel2/dist/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
