@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="nav-item dropdown login-item">
        <a href="#" class="nav-link my-auto" data-bs-toggle="dropdown">Xin chào @User.Identity?.Name!</a>
        <div class="dropdown-menu m-0 bg-secondary rounded-0">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="dropdown-item">Quản lí tài khoản</a>
            <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="dropdown-item">Đăng xuất</a>
        </div>
    </div>
}
else
{
    <div class="nav-item dropdown login-item">
        <a href="#" class="nav-link my-auto" data-bs-toggle="dropdown"><i class="fas fa-user fa-2x"></i></a>
        <div class="dropdown-menu m-0 bg-secondary rounded-0">
            <a asp-area="Identity" asp-page="/Account/Register" class="dropdown-item">Đăng kí</a>
            <a asp-area="Identity" asp-page="/Account/Login" class="dropdown-item">Đăng nhập</a>
        </div>
    </div>
}
