@model ErrorViewModel
@{
    ViewData["Title"] = "404 Error";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23ccc'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <h1 class="text-center text-white display-6">404 Error</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Trang chủ</a></li>
        <li class="breadcrumb-item active text-white">404</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- 404 Start -->
<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-exclamation-triangle display-1 text-secondary"></i>
                <h1 class="display-1">404</h1>
                <h1 class="mb-4">Không tìm thấy trang</h1>
                <p class="mb-4">Rất tiếc, trang bạn tìm kiếm không tồn tại trên trang web của chúng tôi! Bạn có thể truy cập trang chủ của chúng tôi hoặc thử sử dụng tìm kiếm?</p>
                @if (Model.ShowRequestId)
                {
                    <p>
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                    </p>
                }
                <a class="btn border-secondary rounded-pill py-3 px-5" href="index.html">Quay về trang chủ</a>
            </div>
        </div>
    </div>
</div>
<!-- 404 End -->
