@{
    ViewData["Title"] = "Chi tiết bài viết";
    ViewData["Blogs"] = "active";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23ccc'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <h1 class="text-center text-white display-6">Chi tiết bài viết</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="blog.html">Bài viết</a></li>
        <li class="breadcrumb-item active text-white">Chi tiết bài viết</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Blog Detail Start -->
<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-lg-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Chào mừng bạn đến với cửa hàng của chúng tôi</h1>
                        <p class="m-0 pb-3 blog-datetime">Ngày đăng: 12:00 8/3/2024</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="h-100 rounded">
                        <img src="~/img/blogs/blog-1.jpg" class="rounded w-100">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <p>Chúng tôi là điểm đến lý tưởng cho những người yêu thích thực phẩm tươi ngon, sạch và an toàn. Tại Thế Giới Thực Phẩm Tươi Sống, chúng tôi cam kết mang đến cho bạn những sản phẩm tươi ngon nhất, được chọn lựa cẩn thận từ các nguồn cung cấp uy tín nhất. Với một đội ngũ chuyên gia giàu kinh nghiệm trong lĩnh vực nông nghiệp và chế biến thực phẩm, chúng tôi không chỉ đảm bảo chất lượng tốt nhất mà còn đảm bảo sự an toàn về dinh dưỡng cho mỗi sản phẩm bạn chọn. Chúng tôi tự hào về sự đa dạng của sản phẩm của mình, từ rau cải tươi ngon cho đến trái cây chín mọng và thịt cá tươi sống tươi ngon. Điều này giúp bạn có nhiều lựa chọn hơn cho chế biến các món ăn ngon và dinh dưỡng cho gia đình của mình.</p>
                    <br>
                    <p>Chất lượng và sự hài lòng của khách hàng luôn là ưu tiên hàng đầu của chúng tôi. Chúng tôi cam kết cung cấp dịch vụ tận tâm và chuyên nghiệp, giúp bạn trải nghiệm mua sắm trực tuyến một cách dễ dàng và tiện lợi nhất. Dù bạn là người mới bắt đầu hành trình ẩm thực hoặc là một đầu bếp kỳ cựu, hãy để Thế Giới Thực Phẩm Tươi Sống là điểm đến đáng tin cậy của bạn. Hãy ghé thăm cửa hàng trực tuyến của chúng tôi ngay hôm nay để khám phá thế giới thực phẩm tươi ngon và sạch sẽ nhất!</p>
                    <br>
                    <p>Cảm ơn bạn đã tin tưởng và lựa chọn chúng tôi. Chúng tôi hy vọng bạn sẽ có một trải nghiệm mua sắm tuyệt vời tại cửa hàng của chúng tôi!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Detail End -->

<!-- Related Blogs Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h1 class="display-5 mb-5 text-dark">Các bài viết liên quan</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            <div class="img-border-radius bg-light rounded p-4 post-block">
                <div class="position-relative">
                    <div class="d-flex align-items-center flex-nowrap mb-4 pb-4 border-bottom border-secondary">
                        <div class="bg-secondary rounded">
                            <img src="~/img/blogs/blog-1.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">
                                <a href="#" class="blog-title">Cửa hàng trực tuyến mở cửa</a>
                            </h4>
                            <p class="m-0 pb-3 blog-datetime">Ngày đăng: 12:00 8/3/2024</p>
                        </div>
                    </div>
                    <div class="pb-4">
                        <p class="mb-0">Cửa hàng thực phẩm tươi sống trực tuyến của chúng tôi đã mở cửa cho mọi người mua sắm.</p>
                    </div>
                </div>
            </div>
            <div class="img-border-radius bg-light rounded p-4 post-block">
                <div class="position-relative">
                    <div class="d-flex align-items-center flex-nowrap mb-4 pb-4 border-bottom border-secondary">
                        <div class="bg-secondary rounded">
                            <img src="~/img/blogs/blog-1.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">
                                <a href="#" class="blog-title">Cửa hàng trực tuyến mở cửa</a>
                            </h4>
                            <p class="m-0 pb-3 blog-datetime">Ngày đăng: 12:00 8/3/2024</p>
                        </div>
                    </div>
                    <div class="pb-4">
                        <p class="mb-0">Cửa hàng thực phẩm tươi sống trực tuyến của chúng tôi đã mở cửa cho mọi người mua sắm.</p>
                    </div>
                </div>
            </div>
            <div class="img-border-radius bg-light rounded p-4 post-block">
                <div class="position-relative">
                    <div class="d-flex align-items-center flex-nowrap mb-4 pb-4 border-bottom border-secondary">
                        <div class="bg-secondary rounded">
                            <img src="~/img/blogs/blog-1.jpg" class="img-fluid rounded" alt="">
                        </div>
                        <div class="ms-4 d-block">
                            <h4 class="text-dark">
                                <a href="#" class="blog-title">Cửa hàng trực tuyến mở cửa</a>
                            </h4>
                            <p class="m-0 pb-3 blog-datetime">Ngày đăng: 12:00 8/3/2024</p>
                        </div>
                    </div>
                    <div class="pb-4">
                        <p class="mb-0">Cửa hàng thực phẩm tươi sống trực tuyến của chúng tôi đã mở cửa cho mọi người mua sắm.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Related Blogs End -->
