@{
    ViewData["Title"] = "Tin tức";
    ViewData["Blogs"] = "active";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%23ccc'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <h1 class="text-center text-white display-6">Tin tức</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Trang chủ</a></li>
        <li class="breadcrumb-item active text-white">Tin tức</li>
    </ol>
</div>
<!-- Single Page Header End -->

<!-- Blogs Start -->
<div class="container-fluid testimonial py-5">
    <div class="container py-5">
        <div class="testimonial-header text-center">
            <h4 class="text-primary">Tin tức từ chúng tôi</h4>
            <h1 class="display-5 mb-5 text-dark">Hãy khám phá những tin tức thú vị về cửa hàng của chúng tôi</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="img-border-radius bg-light rounded p-4 post-block">
                        <div class="position-relative">
                            <div class="d-flex align-items-center flex-nowrap mb-4 pb-4 border-bottom border-secondary">
                                <div class="bg-secondary rounded">
                                    <img src="~/img/blogs/blog-1.jpg" class="img-fluid rounded" alt="">
                                </div>
                                <div class="ms-4 d-block">
                                    <h4 class="text-dark">
                                        <a href="#" class="blog-title">Cửa hàng trực tuyến mở cửa</a>
                                    </h4>
                                    <p class="m-0 pb-3 blog-datetime">Ngày đăng: 12:00 8/3/2024</p>
                                </div>
                            </div>
                            <div class="pb-4">
                                <p class="mb-0">Cửa hàng thực phẩm tươi sống trực tuyến của chúng tôi đã mở cửa cho mọi người mua sắm.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="img-border-radius bg-light rounded p-4 post-block">
                        <div class="position-relative">
                            <div class="d-flex align-items-center flex-nowrap mb-4 pb-4 border-bottom border-secondary">
                                <div class="bg-secondary rounded">
                                    <img src="~/img/blogs/blog-1.jpg" class="img-fluid rounded" alt="">
                                </div>
                                <div class="ms-4 d-block">
                                    <h4 class="text-dark">
                                        <a href="#" class="blog-title">Cửa hàng trực tuyến mở cửa</a>
                                    </h4>
                                    <p class="m-0 pb-3 blog-datetime">Ngày đăng: 12:00 8/3/2024</p>
                                </div>
                            </div>
                            <div class="pb-4">
                                <p class="mb-0">Cửa hàng thực phẩm tươi sống trực tuyến của chúng tôi đã mở cửa cho mọi người mua sắm.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="img-border-radius bg-light rounded p-4 post-block">
                        <div class="position-relative">
                            <div class="d-flex align-items-center flex-nowrap mb-4 pb-4 border-bottom border-secondary">
                                <div class="bg-secondary rounded">
                                    <img src="~/img/blogs/blog-1.jpg" class="img-fluid rounded" alt="">
                                </div>
                                <div class="ms-4 d-block">
                                    <h4 class="text-dark">
                                        <a href="#" class="blog-title">Cửa hàng trực tuyến mở cửa</a>
                                    </h4>
                                    <p class="m-0 pb-3 blog-datetime">Ngày đăng: 12:00 8/3/2024</p>
                                </div>
                            </div>
                            <div class="pb-4">
                                <p class="mb-0">Cửa hàng thực phẩm tươi sống trực tuyến của chúng tôi đã mở cửa cho mọi người mua sắm.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="img-border-radius bg-light rounded p-4 post-block">
                        <div class="position-relative">
                            <div class="d-flex align-items-center flex-nowrap mb-4 pb-4 border-bottom border-secondary">
                                <div class="bg-secondary rounded">
                                    <img src="~/img/blogs/blog-1.jpg" class="img-fluid rounded" alt="">
                                </div>
                                <div class="ms-4 d-block">
                                    <h4 class="text-dark">
                                        <a href="#" class="blog-title">Cửa hàng trực tuyến mở cửa</a>
                                    </h4>
                                    <p class="m-0 pb-3 blog-datetime">Ngày đăng: 12:00 8/3/2024</p>
                                </div>
                            </div>
                            <div class="pb-4">
                                <p class="mb-0">Cửa hàng thực phẩm tươi sống trực tuyến của chúng tôi đã mở cửa cho mọi người mua sắm.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="pagination d-flex justify-content-center mt-5">
                        <a href="#" class="rounded">&laquo;</a>
                        <a href="#" class="active rounded">1</a>
                        <a href="#" class="rounded">2</a>
                        <a href="#" class="rounded">3</a>
                        <a href="#" class="rounded">...</a>
                        <a href="#" class="rounded">12</a>
                        <a href="#" class="rounded">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blogs End -->
